{% load sass_tags %}
{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% sass_src '../static/style/homepage.scss' %}" type="text/css"/>
</head>
<body>
    <div class="bg">   
        <div class="bg_div">
            <img class="bg_div_logo" src="{% static 'img/fondue.png' %}"> 
            <p>다양한 강의를 찍어먹을 수 있는 퐁듀입니다.<br><br>
            관심있는 분야의 강의를 수강하고<br><br>무료 이용권을 받아보세요!</p>
            <form method="POST">
                {% csrf_token %}
                <div class="center">
                    <button>만나러 가기</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
