@font-face {
    font-family: 'Bazzi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/Bazzi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}   

body{
  margin: 0;
  @media (min-width: 1050px){
    padding: 0 250px;
  }
}

.container{
  display: grid;
  grid-template-rows: 1fr 5fr 2fr 2fr;
  grid-template-areas: "header"
                       "video"
                       "lecture"
                       "playlist";
}

.header {
  grid-area: header;
  display: table;
  img {
    height: 15vw;
  }
  span {
    font-family: 'Bazzi';
    font-size: 10vw;
    display: table-cell;
    vertical-align: middle;
  }
}

.video {
  grid-area : video;
  text-align: center;
  left: 0px;
  width: 100%;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
    
.lecture {
  grid-area:lecture;

  &__info {
    margin: 30px 60px;
    font-family: 'Bazzi';
    font-size: 30px;

    &.tag {
      color: #0067a3;
    }
  }
}

.header{
  height: 150px;
  display: table;
  img{
      height: 150px;
  }
  span{
      font-family: 'Bazzi';
      font-size: 100px;
      display: table-cell;
      vertical-align: middle;
  }
}

button,
a,
a:hover,
p,
body,
h4{
  all: unset;
}

.playlist__item{
  height : 40px;
  width : 100%;
  font-family: 'Bazzi';
  font-size : 14px;
  display : flex;
  justify-content: start;
  align-items: center;
  padding-left: 3%;

  a:hover{
    background-color: rgb(221, 221, 221);
  }
}

.playlist__item--clicked{
  background-color: rgba(63, 63, 63, 0.658);
  color : rgb(255, 250, 176);
}

a:hover{
  all : unset;
}


