@font-face {
    font-family: 'Bazzi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/Bazzi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}   

body{
    margin: 0;
    @media (min-device-width: 1050px){
        padding: 0 250px;
    }
}

.header{
    height: 150px;
    display: table;
    img{
        height: 150px;
    }
    span{
        font-family: 'Bazzi';
        font-size: 100px;
        display: table-cell;
        vertical-align: middle;
    }
}

section{
    border-top: 5px solid;
    .video{
        text-align: center;
        left: 0px;
        width: 100%;
        border-bottom: 5px solid;
    }
    .lecture_info{
        margin: 30px 60px;
        font-family: 'Bazzi';
        font-size: 30px;
        &.tag{
            color: #0067a3;
        }
    }
}
