@mixin smartphone_font($size, $font-weight){
  @media (min-width: 320px) and (max-width: 480px) {
    font-size: $size;
    font-weight: $font-weight;
  }
}

@mixin FLEX_CENTER {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin FLEX_COLUMN {
  display: inline-flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  align-items: left;
  justify-content: center;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.header__container {
  @include FLEX_CENTER;
  @include smartphone_font(20px, bolder);
  height: 6.5%;
  
  .icon_back {
    position: absolute;
    left: 10px;
    padding: 3% 5%;
    color: gray;
  }
}

.container {
  height: 93.5%;

  .tab_btn__container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;

    .tab_btn {
      @include smartphone_font(15px, normal);
      margin: 0;
      padding: 0;
      flex-grow: 1;
      flex-shrink: 1;
      background: none;
      border: 0;
      outline: 0;
      cursor: pointer;
      width: 80px;
      height: 40px;
      transition: 0.3s all;

      &:hover {
        color:black;
      }
    }

    .tab_on {
      .tab_btn_title{
        padding-bottom: 10px;
        border-bottom: 2px solid black;
        font-weight: 700;
        color: black;
      }
    }
  }
}

.content__container {
  display: flex;

  &_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: 1px solid lightgrey;
  }

  &_thumbnail-column {
    @include FLEX_COLUMN;
    column-width: 40%;
    flex: 1;

    .thumbnail__wrapper_img {
      height: 150px;
      width: 150px;
      padding: 10px;
    }
  } 
    
  &_description-column {
    @include FLEX_COLUMN;
    flex: 2;
    padding-right: 10px;
    column-width: 60%;

    .description__container {
      &_title {
        @include smartphone_font(16px, bolder);
      }
      &_lectuerer {
        @include smartphone_font(14px, normal)
      }
    }
  }
}
