@mixin smartphone_font($size, $font-weight){
  @media (min-width: 320px) and (max-width: 480px) {
    font-size: $size;
    font-weight: $font-weight;
  }
}

@mixin FLEX_COLUMN {
  display: inline-flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
  color: #000000;
}

.header {
  @include smartphone_font(18px, bold);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6%;
  
  .header__icon--back {
    position: absolute;
    left: 20px;
    padding: 3% 5%;
    color: gray;
  }
}

.tab-btn {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  height: 5.2%;

  .tab-btn__button {
    @include smartphone_font(14px, normal);
    margin: 0;
    padding: 0;
    flex: 1;
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
    width: 80px;
    height: 40px;
    transition: 0.3s all;

    &:hover {
      color:#000000;
    }
  }

  .tab_on {
    .tab-btn__title{
      padding-bottom: 12px;
      border-bottom: 2px solid #000000;
      font-weight: bold;
      color: #000000;
    }
  }
}

.content {
  height: 88.5%;

  .content__container {
    display: flex;
    padding-right: 20px;
  }

  .content__row {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid lightgrey;
  }

  .content__column--thumbnail {
    @include FLEX_COLUMN;
    column-width: 40%;
    flex: 1;

    .thumbnail {
      height: 90px;
      width: 90px;
      padding: 16px 15px 15px 20px;
    }
  } 
      
  .content__cloumn--desc {
    @include FLEX_COLUMN;
    column-width: 60%;
    flex: 2;
    
    .desc {
      &__title {
        @include smartphone_font(14px, bold);
        margin: 0 0 4px 0;
      }
      &__lectuerer {
        @include smartphone_font(12px, normal);
        margin: 0 0 4px 0;
      }
      &__detail {
        @include smartphone_font(12px, normal);
        margin: 0;
      }
    }
  }
}
