<!DOCTYPE html>
{% load static %}
{% load sass_tags %}
<html>
  <head>
    <link href="{% sass_src 'style/detail.scss' %}" rel= "stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div class = "container">
      <div class="header">
        <a href="{% url 'listup_categ' %}">
          <img src= "{% static 'img/backspace.png' %}">
        </a>
      </div>
      <div class = "iframe__container">
        <div id="player" class="video"></div>
      </div>
      <div class = "lecture">
        <div class="lecture__title"></div>
        <div class="lecture__lecturer">
          <img class="img" src= "{% static 'img/lecturer_img.png' %}">
          <div class="lecturer__info">
            <div class="info">
              <h4>나노코딩</h4>
              <p>안녕하세요 나노코딩입니다</p>
            </div>
          </div>
        </div>
      </div>
      <div class="class__nav">
        <div class="class__nav__info">
          <button onclick="infoClick()">
            <h4>클래스 소개</h4>
          </button>  
        </div>
        <div class="class__nav__playlist">
          <button onclick="playlistClick()">
            <h4>커리큘럼</h4>
          </button>
        </div>
      </div>
      <div class="class">
        <div class="class__info">
        </div>
        <div class="class__playlist">
          {% for lecture in lectures %}
            <button onclick="handleclick('{{lecture.pk}}')" class="class__playlist__item button">
              <div class="item__container">
                <p>{{lecture.title}}</p>
              </div>
            </button>
          {% endfor %}
        </div>
      </div>
    </div>
    <script>
      var slug = '{{slug}}';
    </script>
    <script type="text/javascript" src="{% static 'js/playlist.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/youtube.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/class.js' %}"></script>
  </body>
</html>
