<!DOCTYPE html>
{% load static %}
{% load sass_tags %}
<html>
<head>
  <link href="{% sass_src 'style/listup_detail.scss' %}" rel= "stylesheet" type="text/css" />
</head>
<body>
  <a href="">
    <div class="logo_container">
      <img class=logo_img src= "{% static 'img/clear_bg_logo.PNG' %}">
      <span class="logo_name">퐁듀</span>
    </div>
  </a>
  <div class="container">
    <ul class="categories">
      <li><input class="tabmanu" type="radio" checked name="tabmenu" id="coding">
        <label for="coding">개발/코딩</label>
        <div class="lectures row">
          <div>
            <div class="thumbnail column"><img src="{% static 'img/coding.jpg' %}" height= 200px; width= 350px;></div>
            <div class="description column">
              <p>파이썬</p>
              <p>프로그래밍파이썬으로 다양한 게임을 만들어보아요!</p>
            </div>
          </div>
          <div>
            <div class="thumbnail column"><img src="{% static 'img/coding.jpg' %}" height= 200px; width= 350px;></div>
            <div class="description column">
              <p>파이썬</p>
              <p>프로그래밍파이썬으로 다양한 게임을 만들어보아요!</p>
            </div>
          </div>
        </div>
      </li>
      <li><input class="tabmanu" type="radio" name="tabmenu" id="design">
        <label for="design">디자인/영상편집</label>
        <div class="lectures row">
          <div>
            <div class="thumbnail column"><img src="{% static 'img/design.jpg' %}" height= 200px; width= 350px;></div>
            <div class="description column">
              <p>포토샵</p>
              <p>여러분이 원하는대로 이미지나 사진을 보정할 수 있어요~</p>
            </div>
          </div>
        </div>
      </li>    
      <li><input class="tabmanu" type="radio" name="tabmenu" id="art">
        <label for="art">미술</label>
        <div class="lectures row">
          <div>
            <div class="thumbnail column"><img src="{% static 'img/art.jpg' %}" height= 200px; width= 350px;></div>
            <div class="description column">
              <p>아크릴</p>
              <p>여러분의 생각을 마음껏 표현해보세요^^</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</body>
</html>
