body, html {
    height: 100%;
    margin: 0;
}
.bg {
    background-image: url("{% static 'img/bg.jpg' %}");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.bg_div_logo {
    height: 100px;
    width:250px;
    position: absolute;
    left: 20px;
    top: 20px;
}
.bg_div {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;

    p {
        position: absolute;
        top: 450px; 
        left: 0; 
        width: 100%;
        text-align: center;
        color: white;
        font-size: 50px;
        opacity: 1;
    }

    button {
        background-color: gold;
        border: none;
        border-radius: 30px;
        height: 100px;
        width: 400px;
        font-size: 50px;
        position: absolute;
        bottom: 500px;
        left: 290px;
        &:hover {
            background-color: rgb(250, 226, 87);
        }
    }
}
